# ignore all notebooks as they are used for testing
/notebooks
/.ipynb_checkpoints
*/.ipynb_checkpoints

# ignore pycache
*/__pycache__

# ignore ds_store
*.DS_Store

# do not need to track version as it will remain at 3.8.6
.python-version

# ignore logs
*.log

# ignore all csvs except final
*.csv

# ignore all html files
*.html
